<nav class="flex flex-row justify-between gap-4 py-2 rounded-b-xl bg-stone-900 text-xl">

    <section class="mx-2 col-span-1 basis-1/3 flex justify-start gap-4">
        <app-buttons name="Home" variant="ghost" routerLink=""></app-buttons>
        <app-buttons name="Menu" variant="ghost" routerLink="menu"></app-buttons>
        <app-buttons name="About" variant="ghost" routerLink="about"></app-buttons>
        <app-buttons name="Contact" variant="ghost" routerLink="contact"></app-buttons>
    </section>

    <div class="font-bold text-4xl col-span-1 basis-1/3 flex justify-center hover:cursor-pointer font-serif" routerLink="">
        NicheFood
    </div>

    <div class="col-span-1 basis-1/3 flex justify-end mx-2">
        <app-buttons *ngIf="true; else elseBlock" name="Account" variant="ghost" (click)="openModal($event)"></app-buttons>
        <ng-template #elseBlock>
            <app-buttons name="Logout" variant="ghost"></app-buttons>
        </ng-template>
    </div>
</nav>