<p class="text-center text-lg font-bold">Register Account</p>
<div >
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="grid grid-cols gap-4">
        <app-input name="Name" inputType="text" placeholder="Your Name" [formName]="name"/>
        <app-input name="Email" inputType="email" placeholder="Email" [formName]="email"/>
        <app-input name="Password" inputType="password" placeholder="******" [formName]="password"/>
        <app-input name="Phone Number" inputType="text" prefix="+91" format="00000-00000" placeholder="phone no" [formName]="phone"/>

        <app-buttons
          variant="outline"
          name="Register"
          class="w-6/12"
          [isDisabled]="registerForm.invalid"
        />
    </form>
</div>