<p class="text-center text-lg font-bold">Register Account</p>
<div class="grid grid-cols gap-4">
    <app-input name="Name" inputType="text" placeholder="Your Name"></app-input>
    <app-input name="Email" inputType="email" placeholder="Email"></app-input>
    <app-input name="Password" inputType="password" placeholder="******"></app-input>
    <app-input name="Phone Number" inputType="text" prefix="+91" format="00000-00000" placeholder="phone no"></app-input>
    <button class="w-6/12 ring-1 ring-white py-1 hover:bg-white hover:text-black transition duration-100 rounded">Register</button>
</div>